@page "/drinkList"
@inject IDrinkService DrinkService

<link href="/css/DrinkMenu.css" rel="stylesheet" />

<h3>DrinkList</h3>

<div class="menu-container">
    <div class="menu-list">
        @foreach (var drink in DrinkService.Drinks)
        {
            <div class="menu-item">
                <div class="menu-image">
                    <img src="@drink.ImageUrl" alt="Drink Image" class="drink-image" />
                </div>
                <div class="menu-details">
                    <h5 class="menu-name">@drink.Name</h5>
                    <p class="menu-description">@drink.Description</p>
                    <p class="menu-price">$@drink.Price</p>
                    <a class="btn btn-primary" href="/drink/@drink.Id">Inspect</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await DrinkService.GetDrinks();
    }
}