@page "/drink/{id:int}"
@inject IDrinkService DrinkService
@inject HttpClient HttpClient

<link href="~/css/DrinkMenu.css" rel="stylesheet"/>

<div class="details-container">
    <div class="details-list">
        @if (drink != null)
        {
            <div class="details-item">
                <div class="details-image">
                    <img src="@drink.ImageUrl" alt="Drink Image" class="drink-image" />
                </div>
                <div class="details-content">
                    <h5 class="details-name">@drink.Name</h5>
                    <p class="details-description">@drink.Description</p>
                    <p class="details-price">$@drink.Price</p>
                    <button class="btn btn-primary" @onclick="AddToCart">Order</button>
                    @if (isItemAddedToCart)
                    {
                        <div class="alert alert-success success-message">
                            <strong>Success!</strong> Item added to cart!
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <p>No drink found.</p>
        }
    </div>
</div>

@code {
    private Drink drink = null;
    private Order order = new Order();
    private bool isItemAddedToCart = false;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        drink = await DrinkService.GetDrinkById(Id);
    }

    private async Task AddToCart()
    {
        order.Name = drink.Name;
        order.ImageUrl = drink.ImageUrl;
        order.Description = drink.Description;
        order.Price = drink.Price;
        order.AddedOn = DateTime.Now;
        order.UpdatedOn = DateTime.Now;

        await HttpClient.PostAsJsonAsync("api/Cart", order);

        isItemAddedToCart = true;
    }
}
