@page "/foodList"
@inject IFoodService FoodService

<link href="/css/FoodMenu.css" rel="stylesheet" />

<h3>FoodList</h3>

<div class="menu-container">
    <div class="menu-list">
        @foreach (var food in FoodService.Foods)
        {
            <div class="menu-item">
                <div class="menu-image">
                    <img src="@food.ImageUrl" alt="Food Image" class="food-image" />
                </div>
                <div class="menu-details">
                    <h5 class="menu-name">@food.Name</h5>
                    <p class="menu-description">@food.Description</p>
                    <p class="menu-price">$@food.Price</p>
                    <a class="btn btn-primary" href="/food/@food.Id">Inspect</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await FoodService.GetFoods();
    }

}