@page "/food/{id:int}"
@inject IFoodService FoodService
@inject HttpClient HttpClient

<link href="/css/FoodMenu.css" rel="stylesheet" />

<div class="details-container">
    <div class="details-list">
        @if (food != null)
        {
            <div class="details-item">
                <div class="details-image">
                    <img src="@food.ImageUrl" alt="Food Image" class="food-image" />
                </div>
                <div class="details-content">
                    <h5 class="details-name">@food.Name</h5>
                    <p class="details-description">@food.Description</p>
                    <p class="details-price">$@food.Price</p>
                    <button class="btn btn-primary" @onclick="AddToCart">Order</button>
                    @if (isItemAddedToCart)
                    {
                        <div class="alert alert-success success-message">
                            <strong>Success!</strong> Item added to cart!
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <p>No food found.</p>
        }
    </div>
</div>

@code {
    private Food? food = null;
    private Order order = new Order();
    private bool isItemAddedToCart = false;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        food = await FoodService.GetFoodById(Id);
    }

    private async Task AddToCart()
    {
        order.Name = food.Name;
        order.ImageUrl = food.ImageUrl;
        order.Description = food.Description;
        order.Price = food.Price;
        order.AddedOn = DateTime.Now;
        order.UpdatedOn = DateTime.Now;

        await HttpClient.PostAsJsonAsync("api/Cart", order);

        isItemAddedToCart = true;
    }
}
